# Create and / or activate the virtual environment
# https://github.com/direnv/direnv/wiki/Python
export VIRTUAL_ENV=venv
layout python3

# In development I am using git gamble by pinage404, described at
# https://git-gamble.is-cool.dev/index.html
export GAMBLE_TEST_COMMAND=pytest

